Mandatory Part:
[✅] 1. You have to develop an IRC server in C++ 98.	
[✅] 2. You mustn’t develop a client.		
[✅] 3. You mustn’t handle server-to-server communication.	
[✅] 4. Your executable will be run as follows:				
[✅]	a) ./ircserv <port> <password>						
[✅]		I)  • port: The port number on which your IRC server will be listening to for incoming  
			IRC connections.
[  ]		II) • password: The connection password. It will be needed by any IRC client that tries 
			to connect to your server
Requirements:
[✅] 1. The server must be capable of handling multiple clients at the same time and never	
hang.

[✅] 2. Forking is not allowed. All I/O operations must be non-blocking.			

[✅] 3. Only 1 poll() (or equivalent) can be used for handling all these operations (read,
write, but also listen, and so forth). (We are using Select)

[✅] 4. Several IRC clients exist. You have to choose one of them as a reference. Your
reference client will be used during the evaluation process. => I would change for Weechat, currently HexChat is on

[  ] 5. Your reference client must be able to connect to your server without encountering
any error.

[✅] 6. Communication between client and server has to be done via TCP/IP (v4 or v6).

[  ] 7. Using your reference client with your server must be similar to using it with any
	official IRC server. However, you only have to implement the following features:
[  ]	a) You must be able to authenticate, set a nickname, a username, join a channel,
		send and receive private messages using your reference client.
[  ]	b) All the messages sent from one client to a channel have to be forwarded to
		every other client that joined the channel.
[  ]	c) You must have operators and regular users.
[  ]	d) Then, you have to implement the commands that are specific to channel
		operators:
[  ]		I)   KICK - Eject a client from the channel
[  ]		II)  INVITE - Invite a client to a channel
[  ]		III) TOPIC - Change or view the channel topic
[  ]		IV)	 MODE - Change the channel’s mode:
[  ]			1) i: Set/remove Invite-only channel
[  ]			2) t: Set/remove the restrictions of the TOPIC command to channel
				operators
[  ]			3) k: Set/remove the channel key (password)
[  ]			4) o: Give/take channel operator privilege 	
[  ]			5) l: Set/remove the user limit to channel
